<app-header></app-header>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary" >Poslovi</h2>
        <button type="button" class="btn btn-success btn-lg" data-toggle="collapse" data-target="#collapseForm"
        (click)="toggleCollapse()">Dodaj novi posao</button>
    </div>

    <div *ngIf="!collapseTable" >
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th class="naziv-kolone" (click)="sortBy('naziv')">Naziv</th>
                <th ></th>
                <th ></th>
                <th ></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let posao of poslovi; let i = index" [hidden]="detaljiPosao !== null && detaljiPosao !== posao.id && predmeti.length > 0">
                <td>{{ i + 1 }}</td>
                <td *ngIf="!promeniProvera[i]">{{ posao.naziv }}</td>
                <td *ngIf="promeniProvera[i]"><input type="text" class="form-control" [(ngModel)]="poslovi[i].naziv"></td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary " (click)="prikaziPredmete(posao.id)" [disabled]="!predmetiMap.has(posao.id)">
                            {{ detaljiPosao === posao.id && predmeti.length > 0 ? 'Sakrij Predmete' : 'Prikaži Predmete' }}
                        </button>
                    </div>
                </td>
                <td class="text-primary">
                    <div style="font-size: larger;" role="group" *ngIf="predmetiMap.has(posao.id)">
                        Broj predmeta:{{predmetiMap.get(posao.id).length}} 
                    </div>
                </td>
                
                
                
                
                <td>
                    <div *ngIf="!promeniProvera[i]" class="btn-group" role="group">
                        <button type="button" class="btn btn-warning " (click)="promeniProvere(i)">Promeni</button>
                    </div>
                    <div *ngIf="promeniProvera[i]" class="btn-group" role="group">
                        <button type="button" class="btn btn-success " (click)="promeniPosao(i)">Sačuvaj</button>
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger " [disabled]="predmetiMap.has(posao.id)" (click)="izbrisiPosao(posao.id)">Izbriši</button>
                    </div>
                </td>
            </tr>

            <tr *ngIf="detaljiPosao !== null && predmeti.length > 0">
                <td colspan="11">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                           
                                <th scope="col">Datum</th>
                                <th scope="col">Klijent</th>
                                <th scope="col">Parcela</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let predmet of predmeti">
                               
                                <td>{{ predmet.datum | date: 'dd.MM.yyyy' }}</td>
                                <td>{{ predmet.klijent.ime }} ({{ predmet.klijent.imeOca }}) {{ predmet.klijent.prezime }}</td>
                                <td>{{ predmet.parcela.brKatParcele }} {{ predmet.parcela.katOpstina }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right mt-3">
                        <button class="btn btn-secondary" (click)="zatvoriPredmete()">Zatvori</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

  

<div class="collapse mt-3" id="collapseForm" *ngIf="collapseTable">
    <div class="card card-body">
      <h4>Dodaj novi posao</h4>
      <form>
        <div class="form-group">
          <label for="naziv">Naziv:</label>
          <input type="text" class="form-control" id="naziv" name="naziv" [(ngModel)]="naziv">
        </div>
        <div class="button-container d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-success" (click)="dodajPosao()">Dodaj</button>
            <button type="button" class="btn btn-secondary" (click)="povratakNazad()">Zatvori</button>
          </div>
      </form>
      <div class="alert alert-primary mt-3" role="alert" *ngIf="poruka !== ''">
        <strong>{{ poruka }}</strong>
      </div>
     
    </div>
  </div>
  
  
  